@import url(./variables.css);

.about{
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: var(--maxviewdesktop);
    margin: auto;
}
.about__img_container{
    grid-area: 1 / 1 / 2 / 4;
}
.about__mel_txt-container{
    grid-area: 1 / 5 / 2 / 7;
}
.about__heart{
    grid-area: 2 / 4 / 2 / 6;
    width: 200px;
}

.about__mel, .about__studio{
    margin: auto;
    justify-content: space-between;
    padding: 2rem 4rem;
    max-width: var(--maxviewdesktop);

}

.about__img{

}
.about__mel_txt-container, .about__studio_txt-container{
    align-self: center;
    font-weight: 400;
}

.about__title{
    font-family:var(--font-secondary);
    color: var(--color-secondary1);
}

.about__studio_txt{
    color: var(--color-primary2);
    padding-top: 2;
}



@media (max-width: 992px){

    .about__mel, .about__studio{
   
    }
    .about__mel_txt-container{
        padding-top: 2rem;
    }
    .about__title{
        text-align: center;
    }
}

@media (max-width: 767px){

    .about-mel-img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .about-mel-txt{
        padding-top: 2em;
    }

    .about-studio-row{
        flex-direction: column-reverse;
        align-content: center;
    }


}
