.footer{
    padding: 1rem 4rem;
    
    background-color: var(--color-palette4);
    height:4em;
    color: var(--color-palette1);
    
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: var(--maxviewdesktop);
}
.footer__cc{


}
.footer__socials{
    display: flex;
    align-items: center;
    vertical-align: middle;

}
.footer__socials p{
margin: auto;
}

.footer__socials > *{
padding-right: 1rem;
}

.social__link{
    color: inherit;
}
.social__link:is(:hover, :focus){
    color: var(--color-palette3)
}

@media (max-width: 800px){
    .footer{
        height: 5em;
    }
    .footer__container{
        flex-direction: column;

    }

}
@media (max-width: 576px){
    .footer{
        padding: 0;
    }
    .footer__container{
        font-size: 0.846rem;
        padding: 1rem;
    }
    .footer__socials > *{
        padding-right: 0.5rem;
        }
}