.navbar{
    padding: 0 4rem;
    background-color: var(--color-palette2);
    
}
.container-fluid{
    max-width: var(--maxviewdesktop);
    padding:0;

}
.navbar-brand{
    width: 80px;
}

.nav-item, .nav-brand{
    font-weight: 500;
    padding-left: 2.468rem;
}

.nav-banner{
    padding-top: 1em;
}

.navbar-nav{
    text-align: left;
    padding-top: 2em;
}
.collapse{
    justify-content: center;
}



@media (max-width: 990px){
     .navbar{
        padding: 1rem 4rem;
    }
     .navbar-brand{
        width: auto;
    } 
}
@media (max-width: 576px){
    .navbar{
        padding: 1rem 2rem;
    }
 .navbar-brand-logo{
    width: 180px;
 }
}
@media (max-width: 410px){
 .navbar-brand-logo{
    width: 120px;
 }
}